@font-face {
  font-family: "MagicCards";
  font-display: swap;
  src: url(../fonts/MagicCardsNormal.ttf);
}

.magic-cards {
  font-family: "MagicCards";
  color: #d8b65f;
  word-spacing: 0.25em;
}

.inline-svg {
  display: inline-block;
  vertical-align: middle;
}

.inline-svg svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  display: inline-block;
}

img {
  height: auto;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
